<div class="user-profile-holder">
  <%= render 'pages/header'%>
  <div class="user-profile-body">
    <% if notice %>
      <div class="welcome-note-container">
        <div class="home-welcome-note">
          <%= notice %>
        </div>
        <div class="pointer">
        </div>
      </div>
    <% elsif alert %>
      <div class="welcome-note-container">
        <span class="home-welcome-note">
          <%= alert %>
        </span>
        <div class="pointer">
        </div>
      </div>
    <% end %>


    <div class="jumbotron jumbotron-fluid">
      <div class="container gp-container">
        <div style="padding-right:10px">
          <h1 class="main-title"><%= @user.username %></h1>
          <p class="lead-title">Welcome <%= current_user.name %>, make reservations and stay at the top of your game.</p>  
        </div>
        <div>
          <%= link_to "Edit Profile",edit_user_path , class:"btn btn-success cancel-btn"%>
        </div>
      </div>
    </div>


    <div class="new-ground-textboxes-holder">
      <div class="textboxes-holder">
        <div class="tb-holder-title">Basic info Info</div>

        <div class="gp-textbox-holder">
          <div class="gp-smaller-title">Email:</div>
          <div><%= @user.email %></div>
        </div>

        <div class="gp-textbox-holder">
          <div class="gp-smaller-title">Phone:</div>
          <div><%= @user.phone %></div>
        </div>

        <div class="gp-textbox-holder">
          <div class="gp-smaller-title">Location:</div>
          <div><%= @user.address %></div>
        </div>

        <div class="gp-textbox-holder">
          <div class="gp-smaller-title">Pincode:</div>
          <div><%= @user.pincode %></div>
        </div>
      </div>

      <div class="textboxes-holder">


        <div class="tb-holder-title">Available Acitvities</div>
        <div class="gp-textbox-holder gp-tb-holder">
          <!-- <div class="gp-smaller-title">Activities:</div> -->
            <div class="gp-activities-holder">
              <div class="gp-interests">
                <% @available_activities.each do |activity| %>
                  <div class="activity"><%= activity %></div>
                <% end %>
              </div>
            </div>
        </div>


      </div> 

    </div>
  </div>
</div>

