<nav class="home-navbar">
	<div id ="logo" class="logo" onclick="document.getElementById('mySidebar').style.width = '250px'">&#9776; GroundCheck</div>
	<div id ="logo" class="shortlogo"  onclick="document.getElementById('mySidebar').style.width = '250px'">
		&#9776; GC
	</div>

	<div class="nav-stuff">
		<%= form_with url: "/groundresults", method: :get, class:"search-form" do |form| %>
		  <%= form.text_field :search_word, placeholder: "search grounds", ondrop:"return false;", onpaste:"return false;", onkeypress:"return (event.charCode>=97 && event.charCode<=122) || (event.charCode>=48 && event.charCode<=57)", class: "search-bar form-control mr-sm-2" %>
		  <%= form.submit "Search", class: "btn btn-success search-button cancel-btn" %>
		<% end %>
	</div>

	<div class="favorite-btn-div">
		<a href="/favorites_list">
			<%= image_tag "star.png", height: "20px" %>
		</a>
	</div>

</nav>
<div id="mySidebar" class="sidebar">
	<div>
		<button  class="btn btn-danger close-sidebar-button" onclick="document.getElementById('mySidebar').style.width = '0'">&times;</button>
		<!-- //HERE -->
		<div class="sidebar-userprofile">
			<%= link_to current_user.name, current_user %>
			<!-- <a href=""><%= current_user.name %></a> -->
		</div>
		<%= link_to "Home", root_path %>
		<%= link_to "Reservation History", reservation_history_path("history_for": "user") %>
		<%= link_to "My Grounds", my_grounds_path %>
		<%= link_to "Create Your Ground", new_ground_path %>
		<%= link_to "Edit Your Profile", edit_user_path(current_user.id) %>
		<%= link_to "About", about_path %>
	</div>
	<div class="signout-btn-div">
		<!-- <button class="btn signout-btn btn-outline-danger"><a href=""></a>Sign Out</button>		 -->
		<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn signout-btn btn-danger"%>
	</div>
</div>