	<div class= "home-container" id="home">

	<% if user_signed_in? %>
	<%= render 'pages/header'%>
		<div class="home-body">
		<div class="welcome-note-container">
			<span class="home-welcome-note">
				Welcome <%= current_user.name %>
			</span>
		</div>
		<% if notice %>
			<div class="welcome-note-container">
				<div class="home-welcome-note">
					<%= notice %>
				</div>
				<div class="pointer">
				</div>
			</div>
		<% elsif alert %>
			<div class="welcome-note-container">
				<span class="home-welcome-note">
					<%= alert %>
				</span>
				<div class="pointer">
				</div>
			</div>
		<% end %>
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		    <h1 class=" main-title">GROUNDCHECK</h1>
		    <p class="lead-title">Welcome <%= current_user.name %>, make reservations and stay at the top of your game.</p>
		  </div>
		</div>
			<div class="reservations-viewer jumbotron jumbotron-fluid">
				<div class="container justify-center">
					<h2 class="secondary-title">RESERVATIONS</h2>
					<div class="reservations-holder">
					<% if @current_user_reservations %>
						<% @current_user_reservations.each do |reservation| %>
							<% if reservation[:obj].status == "active" %>
								<div class="home-reservation-post want-tooltip" title="Status: <%=reservation[:obj].status.upcase %>" style="background:#56776C">
							<% elsif reservation[:obj].status == "hour_left" %>
								<div class="home-reservation-post want-tooltip" title="<%=reservation[:obj].status.upcase %>" style="background:#22577A">
							<% elsif reservation[:obj].status == "play_on" %>
								<div class="home-reservation-post want-tooltip" title="<%=reservation[:obj].status.upcase %>" style="background:#F55C47">
							<% elsif reservation[:obj].status == "checked_in" %>
								<div class="home-reservation-post want-tooltip" title="<%=reservation[:obj].status.upcase %>" style="background:#50D890">
							<% end %>
								<!-- <div class="home-reservation-post"> -->
									<div class="home-reservation-post-info-holder">
										<div class="home-reservation-ground-name">
											<% if reservation[:ground_name].length > 15 %>
												<%= reservation[:ground_name][0..14]+".." %>
											<%else%>
												<%= reservation[:ground_name]%>
											<%end%>
										</div>
										<div class="home-reservation-date">
											<%= reservation[:reserved_activity] %>
										</div>
										<div class="home-reservation-post-datetime-holder">
											<div class="home-reservation-date"><%= reservation[:reservation_date] %></div> 
											<div class="home-reservation-time"><%= reservation[:startingtime] %></div>	
										</div>	
									</div>
									<div>
											<%= link_to image_tag("delete.png",height: "25px", color:"orange"), cancelreservation_path(id: reservation[:obj].id), method: :post, class: "want-tooltip cancel-btn res-cancel-btn", data: { confirm: 'Are you sure?' }, "title":"CANCEL" %>
									</div>
								</div>
						<% end %>
					<% end %>
					<% if @current_user_reservations != nil and @current_user_reservations.length == 0 %>
						<p class="no-reservation-notice">
							WOW, CURRENTLY YOU HAVE NO RESERVATIONS
						</p>
						<!-- <div class="submit-div">
							<%= link_to "SHOW GROUNDS", groundresults_path, class: "btn btn-success cancel-btn" %>
						</div> -->
					<% end %>
					</div>
				</div>
			</div>
			<% if current_user.ground_owner %>
				<div class="reservations-viewer jumbotron jumbotron-fluid">
					<div class="container justify-center">
						<h2 class="secondary-title">GROUND ADMINISTRATION</h2>
						<div class="admin-reservations-holder">
							<% if @owned_ground_reservations %>
								<% @owned_ground_reservations.each do |reservation| %>
									<div class="home-ground-admin-post">
										<div class="home-reservation-post-info-holder">
											<div class="home-admin-user-name">
												<% if reservation[:username].length > 15 %>
													<%= reservation[:username][0..14]+".." %>
												<%else%>
													<%= reservation[:username]%>
												<%end%>
											</div>
											<div class="home-admin-reservation-activity">
												<%= reservation[:reserved_activity] %>
												<%= reservation[:obj].status %>
											</div>
											<div class="home-reservation-post-datetime-holder">
												<div class="home-reservation-date"><%= reservation[:reservation_date] %></div> 
												<div class="home-reservation-time"><%= reservation[:startingtime] %></div>	
											</div>	
											<div class="home-admin-reservation-btn-holder">
												<% if reservation[:obj].status != "checked_in" %>
													<%= link_to "Check In", check_in_client_path(id: reservation[:obj].id), method: :post, class: "check-in-btn cancel-btn" ,data: { confirm: 'Are you sure?' } %>
												<% else %>
													<%= link_to "Checked In", check_in_client_path(id: reservation[:obj].id), method: :post, class: "checked-in-btn", disabled:true ,data: { confirm: 'Are you sure?' } %>
												<% end %>
											</div>
										</div>
									</div>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
				
			<div class="user-interest-holder  jumbotron jumbotron-fluid">
				<div class="container">
					<h3 class="secondary-title">YOUR INTERESTS</h3>

					<div class="home-user-interests">
						<% if @current_user_reservations %>
							<% @current_user_interests.each do |interest| %> 
								<div class="activity"><span><%= interest %></span></div>
							<% end %> 
						<% end %>
					</div>
				</div>
			</div>
		<% else %>
			<div class="home-guest-main-div background-home-image">
				<%= render 'pages/guestnave'%>
				
				
				<div class="home-guest-body ">
					<% if notice %>
						<div class="welcome-note-container">
							<div class="home-welcome-note">
								<%= notice %>
							</div>
							<div class="pointer">
							</div>
						</div>
					<% elsif alert %>
						<div class="welcome-note-container">
							<span class="home-welcome-note">
								<%= alert %>
							</span>
							<div class="pointer">
							</div>
						</div>
					<% end %>
					<div class="jumbotron jumbotron-fluid " style="height:100%; background:transparent; color:white">
					  <div class="container">
					    <h1 class=" main-title">GROUNDCHECK</h1>
					    <p class="lead-title">
					    	Welcome to GroundCheck, please sign up or sign in to use our services
					    </p>
					    <p>
					    	<div class="submit-div" style="margin-top: 100px;">
									<%= link_to "Sign In", new_user_session_path, class:" cancel-btn sign-in-btn"%>
									<%= link_to "Sign Up",  new_user_registration_path, class:"cancel-btn sign-up-btn"%>
								</div>	
					    </p>
					  </div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
  	$('[data-toggle="tooltip"]').tooltip(); 
	});
</script>