<%= render 'pages/header'%>
<div class="reservations-history-body">
	<div class="jumbotron jumbotron-fluid w-100">
	  <div class="container">
	    <h1 class=" main-title">RESERVATIONS HISTORY</h1>
	    <p class="lead-title">Record of all the reservations you have made.</p>
	  </div>
	</div>
	<h3 class="secondary-title center">ACTIVE RESERVATIONS</h3>
	<div class="reservations-history-holder">
		<% if @active_reservations_history %>
			<% @active_reservations_history.each do |res_history| %>
					<div class="reservations-history-post">
						<div class="reservations-history-post-info-holder">
							<div class="reservations-history-ground-name">
								<%= res_history[:ground_name]%>
							</div>
							<div class="reservations-history-post-datetime-holder">
								<div class="reservations-history-date">
									<span class="reservations-history-small-title">Date:</span><%= res_history[:reservation_date] %>
								</div> 

								<div class="reservations-history-time">
									<span class="reservations-history-small-title">Starts At:</span><%= res_history[:startingtime] %>
								</div>	

								<div class="reservations-history-time">
									<span class="reservations-history-small-title">Created On:</span><%= res_history[:created_at] %>
								</div>	

								<div class="reservations-history-time">
									<span class="reservations-history-small-title">Cost:</span>₹<%= res_history[:cost] %>
								</div>	
							</div>	
							<div class="submit-div">
								<%= link_to 'VISIT GROUND', res_history[:ground_obj], class: "btn btn-success cancel-btn reservations-history-res-btn" %>
							</div>
						</div>
					</div>
			<% end %>
		<% end %>
	</div>	
	<h3 class="secondary-title center">INACTIVE RESERVATIONS</h3>
	<div class="reservations-history-holder">
		<% if @inactive_reservations_history %>
			<% @inactive_reservations_history.each do |res_history| %>
					<div class="reservations-history-post">
						<div class="reservations-history-post-info-holder">
							<div class="reservations-history-ground-name">
								<%= res_history[:ground_name]%>
							</div>
							<div class="reservations-history-post-datetime-holder">
								<div class="reservations-history-date"><span class="reservations-history-small-title">Date:</span><%= res_history[:reservation_date] %></div> 

								<div class="reservations-history-time"><span class="reservations-history-small-title">Starts At:</span><%= res_history[:startingtime] %></div>	

								<div class="reservations-history-time"><span class="reservations-history-small-title">Created On:</span><%= res_history[:created_at] %></div>

								<div class="reservations-history-time">
									<span class="reservations-history-small-title">Cost:</span>₹<%= res_history[:cost] %>
								</div>


								<!-- <div class="reservations-history-time"><span class="reservations-history-small-title">Cost:</span><%= res_history[:created_at] %></div>	 -->
							</div>	
							<div class="submit-div">
								<%= link_to 'VISIT GROUND', res_history[:ground_obj], class: "btn btn-success cancel-btn reservations-history-res-btn" %>
							</div>
						</div>
					</div>
			<% end %>
		<% end %>
	</div>		
</div>
