<p id="notice"><%= notice %></p>

<h1>User Sports Masters</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Sports master</th>
      <th>Ground</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_sports_masters.each do |user_sports_master| %>
      <tr>
        <td><%= user_sports_master.user_id %></td>
        <td><%= user_sports_master.sports_master_id %></td>
        <td><%= user_sports_master.ground_id %></td>
        <td><%= link_to 'Show', user_sports_master %></td>
        <td><%= link_to 'Edit', edit_user_sports_master_path(user_sports_master) %></td>
        <td><%= link_to 'Destroy', user_sports_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Sports Master', new_user_sports_master_path %>
