<div class="signup-holder signin-background">
  <%= render 'pages/guestnave' %>
  <div class="signup-body">
    <div class="jumbotron jumbotron-fluid w-100">
      <div class="container">
        <h1 class=" main-title">SIGN IN</h1>
        <p class="lead-title">Enter email and password to sign in.</p>
      </div>
    </div>
    <div class="signup-form-holder">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class=" signup-textboxes-holder">
            <div class="container justify-center">
              <div class="signup-textbox-holder">
                <div class="new-ground-tb-lables">Email:</div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", ondrop:"return false;", onpaste:"return false;", onkeypress:"return (event.charCode>=97 && event.charCode<=122) || (event.charCode>=48 && event.charCode<=57) || event.charCode== 64 || event.charCode== 46" %>
              </div>
              <div class="signup-textbox-holder">
                <div class="new-ground-tb-lables">
                  Password:
                </div>
                  <%= f.password_field :password, autocomplete: "current-password" %>
              </div>
            <div class="submit-div">
              <%= f.submit "SIGN IN", class: "btn btn-success"%>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end -%>
    </div>  
  </div>
</div>


